body{
	width:100vw;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center
}

.container{
        width: 80vw;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
	    border:2px solid black;
	    border-radius:10px;
    }
    p{
         font-size: 13px;
    }
    .code-container{
        display: flex;
        gap: 20px;
    }
    input{
        width: 30px;
        height: 40px;
        font-size: 30px;
        padding: 18px;
		text-align:center;
    }